@use 'components/band_card' as band_card;
@use 'components/album_card' as album_card;
@use 'components/member_card' as member_card;
@use 'band_detail' as band_detail;
@use 'components/navbar' as navbar;
@use 'components/upper' as upper;
@use 'components/top_line' as top-line;
@use 'components/filter_bar' as filter-bar;
@use 'variable' as variable;
@use 'album_detail' as album_detail;

@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
body {
    background-color: variable.$body-bg-color;
     padding-bottom: 60px;
     padding-top: 60px;
}
i {
    color: #fff;
}
.hidden-card {
    display: none;
}
.logo {
    img {
        width: 100%;
        height: 220px;
        object-fit: contain;
    }
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin:auto;
    display:block;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 3px solid band_card.$band-border-color;
    border-radius: band_card.$band-border-radius;

    h2 {
        margin-top: 0;
    }
}