@use 'band_card';

h2 {
    color: #fff;
}

.album {
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: band_card.$band-border-radius;
    background-color: transparent;
    background: url('../../../public/assets/images/album_bg.png') no-repeat center center;
    overflow: hidden;
    background-size: contain;
    position: relative;
    cursor: pointer;

    
    h2 a {
        color: #000;
    }

    .release-year {
        display: block;
        margin-top: 10px;
        color: #272626;
        font-size: 12px;
        position: absolute;
        top: 0;
        right: 15px;
        width: fit-content;
    }

    h2 {
        margin-top: 0;
        position: relative;
    }
    .album-band {
        position: absolute;
        bottom: 10px;
        left: 20px;
        text-align: right;
        width: 270px;
    }
    &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(92, 92, 92, 0.58);
        box-shadow: 5px 5px 15px 5px rgba(92, 92, 92, 0.58);
    }
    
}