$band-border-color: #2a2e2c;
$band-border-radius: 15px;
$band-text-color: #f4f8f6;

.band {
    text-decoration: none;
    width: 300px;
    margin: 20px;
    padding: 0;
    border-radius: $band-border-radius;
    background-color: transparent;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    
    &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(92, 92, 92, 0.58);
        box-shadow: 5px 5px 15px 5px rgba(92, 92, 92, 0.58);
    }

    color: $band-text-color;
    cursor: pointer;

    h2 {
        position: absolute;
        color: $band-text-color;
        bottom: 10px;
        left: 20px;
    }

}