.filter-bar {
    border: 3px solid #ccc;
    border-left: none;
    position: fixed;
    width: 180px;
    height: 230px;
    transition: margin-left 0.3s ease;
    margin-left: -200px;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    &.active {
        margin-left: -15px;
    }
    input,select {
        margin-bottom: 10px;
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

.filter-icon {
    transition: margin-left 0.3s ease;
    position: fixed;
    left: 10px;
    top: 100px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
    margin-left: 125px;
    &.active {
        margin-left: 0;
    }
}

.filter-wrapper {
    position: relative;
    display: inline-block;
    .close-icon{
        position: absolute;
        bottom: 15px;
        right: 5px;
        cursor: pointer;
    }
}