$nav-text-color: #fff;
$nav-bg-color: #2B2B2B;
$nav-hover-bg-color: #4A4A48;
$nav-hover-text-color: #e5e9ee;

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $nav-bg-color;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    a {
        color: $nav-text-color;
        text-decoration: none;
        height: 45px;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        justify-content: center;
        i {
            margin-right: 10px;
        }

        &:hover {
            background-color: $nav-hover-bg-color;
            color: $nav-hover-text-color;
            border-radius: 5px;
        }
    }
}