$upper-border-color: #4A4A48;
.upper {
  height: 30px;
  width: 30px;
  border-top: 3px solid $upper-border-color;   
  border-right: 3px solid $upper-border-color; 
  position: fixed;
  bottom: 130px;
  right: 20px;
  transform: rotate(315deg);
  cursor: pointer;
}